.navbar {
  background: rgb(227, 30, 30);
  background: linear-gradient(
    90deg,
    rgba(227, 30, 30, 1) 0%,
    rgba(255, 243, 100, 1) 100%
  );
  padding: 0 15px;
}

.navbar-list {
  min-width: 100%;
}

.nav-item {
  padding: 5px;
}

.nav-item:hover {
  background-color: rgb(255, 140, 0);
}

.nav-link {
  color: white;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .navbar {
    justify-content: start !important;
  }

  .navbar-list {
    min-width: 300px;
  }
}
