{% extends 'base.html' %}
{% block title %}Delete Expense{% endblock title %}
{% block content %}

<div class="form-group">
  <h3>Delete expense:</h3>
  <form method="post" class="text-center" data-test="delete-expense-form">
    {% csrf_token %} Are you sure you want to delete this item?
    <button
      name="submit"
      type="submit"
      class="btn btn-danger"
      data-test="delete-expense-yes"
    >
      Yes
    </button>
    <a
      class="btn btn-secondary cancel-btn"
      href="{% url 'expenses:home' %}"
      data-test="delete-expense-no"
      >Cancel</a
    >
  </form>
</div>

{% endblock content %}
